/*-------------General-------------*/

.container {
    padding: 20px 50px;
}

/*-------------Nav and Footer-------------*/
footer {
    padding: 10px;
}

/*-------------Home Page-------------*/

body {
    
}

.card_image {
    height: 250px;
    width: 180px;
}

.edbtn {
    height: 30px;
    width: 30px;
}

/*-------------About Page-------------*/

.background-image {
    height: 100vh;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-bottom: 20px;
}

/*-------------Add A Piece Page-------------*/

.form-center {
    padding: 20px 20px;
}

/*-------------Buttons-------------*/
.totop {
    position: fixed;
    bottom: 10px;
    right: 20px;
}
.totop a {
    transition: all, 5s ease-out;
}

/*-------------Media Querries-------------*/

@media (min-width: 1024px) {
    .form-center {
        padding: 20px 320px;
    }
}