/*-------------General-------------*/

html {
    position: relative;
    min-height: 100%;
}

.container {
    padding: 20px 50px;
}

body {
    padding-bottom: 90px;
    font-family: 'Blinker', sans-serif;
}

/*-------------Nav and Footer-------------*/

footer {
    padding: 5px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 80px;
    text-align: center;
    overflow: hidden;
}

.social-media a i {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    color: white;
    transition: background-color 0.35s ease-in-out;
    -moz-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
}

.social-media a i:hover {
    color: grey;
}

/*-------------Home Page-------------*/

.card {
    width: 100%;
    height: 95%;
}

.card-header {
    text-align: center;
}

.card_image {
    height: 250px;
    width: 180px;
}

.card-body {
    padding-left: 30px;
    padding-bottom: 0;
    padding-top: 10px;
}

.edbtn {
    height: 30px;
    width: 30px;
}

/*-------------A Piece-------------*/

.apiece-pic {
    width: 70%;
    margin-bottom: 20px;
}

/*-------------About Page-------------*/

.background-image {
    background-image: url('/static/images/clothes.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-bottom: 20px;
}

/*-------------Add A Piece Page-------------*/

.form-center {
    padding: 20px 20px;
}

.btn-addclothes {
    background-color: #f7babd;
}

/*-------------Media Querries-------------*/

@media (min-width: 1024px) {
    .form-center {
        padding: 20px 320px;
    }
}

@media (min-width: 768px) {
    footer {
        height: 40px;
    }
    body {
        padding-bottom: 50px;
    }
}

/*-------------Filters-------------*/

/* Dropdown Button */

.dropbtn {
    padding: 5px;
    width: 90px;
    border-radius: 4px;
    font-size: 16px;
    position: relative;
}

.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    line-height: 100px;
    text-align: center;
    margin: 2px; 
    display: none;
    /* Hidden by default */
}

/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
    background-color: #F3969A;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 170px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

.reset-btn {
    margin: 2px;
    background-color: #78C2AD;
    padding: 5px;
    width: 90px;
    border-radius: 4px;
    font-size: 16px;
    position: relative;
}

.reset-btn:hover,
.reset-btn:focus {
    background-color: #56CC9D;
}

/*-------------Log In-------------*/

.login {
    margin: 20px auto;
    width: 300px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}

input {
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

.control-group input {
    text-align: center;
}

input:focus {
    border: 2px solid #78c2ad;
    box-shadow: none;
}

.btn-login {
    border: 2px solid transparent;
    background: #f7babd;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 3px;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn-login:hover {
    background-color: #f3969a;
}

.login-link {
    font-size: 12px;
    color: #f3969a;
    display: block;
    margin-top: 12px;
}
