{% extends 'base.html'%} {% block content %}
<div class="row">
    <div class="background-image" style="background-image: url('/static/images/clothes.jpg')">
        <div class="opaque-overlay"></div>
        <div class="jumbotron">
            <i class="fas fa-tshirt"></i>
            <h1>About</h1>
            <p class="lead"><strong>eDress</strong> is an online platform for exchanging your clothes with other members. If you are bored of your wardrobe and want some new catchy pieces but can't afford it, here you can change your clothes with somebody else for free.
                Just pay packing and shipping costs and you can change most of your wardrobe each month.</p>
        </div>
    </div>
    <i class="far fa-question-circle"></i>
    <h2>How does it work?</h2>
    <p class="lead">It's as simple as you uploading the information and images of your clothes and then when you have something to show you go roam the dashboard of the clothes already there from other users. Whn you find something you like, you communicate with them
        if they would like anything from your collection and if yes, then you exchange addresses and send the piece of clothing for each other. As simple as that!</p>
    <i class="far fa-lightbulb"></i>
    <h2>Idea and Goals</h2>
    <p class="lead"><strong>eDress</strong> is a website born from an idea of saving money as well as Earth, reusing and reducing the influence of huge brands and corporations using second-word countries and their people for their benefit without giving them equal right.
        More about the ideas <strong>eDress</strong> is based on you can find by watching a movie <a href="#">"True Cost"</a></p>
</div>
{% endblock %}
