{% extends 'base.html'%} {% block content %}

<!--Add clothes form-->

<div class="row">
    <form action="{{ url_for('insert_clothes') }}" method="POST" class="form-center bg-light">
        <fieldset>
            <h2 class='text-secondary'><i class="fas fa-plus-circle"></i> Add A Piece To Your Wardrobe</h2>
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" class="form-control" placeholder="Title" required>
            </div>
            <div class="form-group">
                <label>Type</label>
                <select class="form-control" name="type">
                    <option disabled selected required>Choose type</option>
                    {% for t in types %}
                        <option value="{{t.type}}">{{t.type}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Condition</label>
                <select multiple="" class="form-control" name="condition" required>
                    {% for c in conditions %}
                        <option value="{{c.condition}}">{{c.condition}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Size</label>
                <select class="form-control" name="size">
                    <option disabled selected required>Choose size</option>
                    {% for s in sizes %}
                        <option value="{{s.size}}">{{s.size}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Brand</label>
                <textarea class="form-control" name="brand" rows="1" placeholder="Insert Brand"></textarea>
            </div>
            <div class="form-group">
                <label>Composition</label>
                <textarea class="form-control" name="composition" rows="1" placeholder='Put in composition of your piece'></textarea>
            </div>
            <div class="form-group">
                <label>Color</label>
                <select class="form-control" name="color">
                    <option disabled selected required>Choose color</option>
                    {% for c in colors %}
                        <option value="{{c.color}}">{{c.color}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" name="description" rows="4" placeholder='Tell about any defects this piece has...'></textarea>
            </div>
            <div class="form-group">
                <label>Add the url link to your image</label>
                <input type="url" class="form-control" name="picture" placeholder="image url" required>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-addclothes">Submit</button>
    </form>
</div>
{% endblock %}
