{% extends 'base.html'%} {% block content %}
<div class="row">
    <form action="{{ url_for('update_clothes', clo_id=clothes._id) }}" method="POST" class="col-sm-12">
        <fieldset>
            <h2>Edit Your Piece</h2>
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username" value="{{clothes.username}}">
                <!-- auto generate -->
            </div>
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" class="form-control" placeholder="Title" value="{{clothes.title}}" required>
            </div>
            <div class="form-group">
                <label>Type</label>
                <select class="form-control" name="type">
                <option disabled selected required>Choose type</option>
                <option {% if clothes.type == 'T-shirt' %} selected='selected' {% endif %}>T-shirt</option>
                <option {% if clothes.type == 'Shirt' %} selected='selected' {% endif %}>Shirt</option>
                <option {% if clothes.type == 'Sweater' %} selected='selected' {% endif %}>Sweater</option>
                <option {% if clothes.type == 'Jacket' %} selected='selected' {% endif %}>Jacket</option>
                <option {% if clothes.type == 'Cardigan' %} selected='selected' {% endif %}>Cardigan</option>
                <option {% if clothes.type == 'Dress' %} selected='selected' {% endif %}>Dress</option>
                <option {% if clothes.type == 'Skirt' %} selected='selected' {% endif %}>Skirt</option>
                <option {% if clothes.type == 'Pants' %} selected='selected' {% endif %}>Pants</option>
                <option {% if clothes.type == 'Shorts' %} selected='selected' {% endif %}>Shorts</option>
                <option {% if clothes.type == 'Leggings' %} selected='selected' {% endif %}>Leggings</option>
                <option {% if clothes.type == 'Jumpsuit' %} selected='selected' {% endif %}>Jumpsuit</option>
                <option {% if clothes.type == 'Romper' %} selected='selected' {% endif %}>Romper</option>
                <option {% if clothes.type == 'Sportswear' %} selected='selected' {% endif %}>Sportswear</option>
                <option {% if clothes.type == 'Coat' %} selected='selected' {% endif %}>Coat</option>
              </select>
            </div>
            <div class="form-group">
                <label>Condition</label>
                <select multiple="" class="form-control" name="condition">
                    <option {% if clothes.condition == 'New' %} selected='selected' {% endif %}>New</option>
                    <option {% if clothes.condition == 'Very Good' %} selected='selected' {% endif %}>Very Good</option>
                    <option {% if clothes.condition == 'Good' %} selected='selected' {% endif %}>Good</option>
                    <option {% if clothes.condition == 'Used' %} selected='selected' {% endif %}>Used</option>
                    <option {% if clothes.condition == 'Acceptable' %} selected='selected' {% endif %}>Acceptable</option>
                    <option {% if clothes.condition == 'Poor' %} selected='selected' {% endif %}>Poor</option>
                </select>
            </div>
            <div class="form-group">
                <label>Size</label>
                <select class="form-control" name="size">
                    <option disabled selected required>Choose size</option>
                    <option {% if clothes.size == 'XS' %} selected='selected' {% endif %}>XS</option>
                    <option {% if clothes.size == 'S' %} selected='selected' {% endif %}>S</option>
                    <option {% if clothes.size == 'M' %} selected='selected' {% endif %}>M</option>
                    <option {% if clothes.size == 'L' %} selected='selected' {% endif %}>L</option>
                    <option {% if clothes.size == 'XL' %} selected='selected' {% endif %}>XL</option>
                    <option {% if clothes.size == 'XXL' %} selected='selected' {% endif %}>XXL</option>
                    <option {% if clothes.size == 'XXL' %} selected='selected' {% endif %}>XXXL</option>
                    <option {% if clothes.size == 'Universal' %} selected='selected' {% endif %}>Universal</option>
                </select>
            </div>
            <div class="form-group">
                <label>Brand</label>
                <textarea class="form-control" name="brand" rows="1" placeholder="Insert Brand">{{clothes.brand}}</textarea>
            </div>
            <div class="form-group">
                <label>Composition</label>
                <textarea class="form-control" name="composition" rows="1" placeholder='Put in composition of your piece'>{{clothes.composition}}</textarea>
            </div>
            <div class="form-group">
                <label>Color</label>
                <select class="form-control" name="color">
                    <option disabled selected required>Choose color</option>
                    <option {% if clothes.color == 'Black' %} selected='selected' {% endif %}>Black</option>
                    <option {% if clothes.color == 'White' %} selected='selected' {% endif %}>White</option>
                    <option {% if clothes.color == 'Red' %} selected='selected' {% endif %}>Red</option>
                    <option {% if clothes.color == 'Bordo' %} selected='selected' {% endif %}>Bordo</option>
                    <option {% if clothes.color == 'Orange' %} selected='selected' {% endif %}>Orange</option>
                    <option {% if clothes.color == 'Yellow' %} selected='selected' {% endif %}>Yellow</option>
                    <option {% if clothes.color == 'Green' %} selected='selected' {% endif %}>Green</option>
                    <option {% if clothes.color == 'Blue' %} selected='selected' {% endif %}>Blue</option>
                    <option {% if clothes.color == 'Purple' %} selected='selected' {% endif %}>Purple</option>
                    <option {% if clothes.color == 'Brown' %} selected='selected' {% endif %}>Brown</option>
                    <option {% if clothes.color == 'Grey' %} selected='selected' {% endif %}>Grey</option>
                    <option {% if clothes.color == 'Multicolor' %} selected='selected' {% endif %}>Multicolor</option>
                    <option {% if clothes.color == 'Other' %} selected='selected' {% endif %}>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" name="description" rows="4" placeholder='Tell about any defects this piece has...'>{{clothes.description}}</textarea>
            </div>
            <div class="form-group">
                <label>Add the url link to your image</label>
                <input type="url" class="form-control" name="picture" placeholder="image url" value="{{clothes.picture}}" required>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
