{% extends 'base.html'%} {% block content %}
<div class="row">
    {% for clo in clothes %}
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">
            <img class="card_image" src="{{clo.picture}}" placeholder="{{clo.title}}"></img>
        </div>
        <div class="card-body">
            <h2>
                <button class="btn btn-link card-title" type="button" data-toggle="collapse" aria-expanded="false" data-target="#c{{clo._id}}" aria-controls="c{{clo._id}}">{{clo.title}}</button>
            </h2>
            <div id="c{{clo._id}}" class="collapse">
                <p class="card-text">{{clo.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
