{% extends 'base.html'%} {% block content %}
<div class="row">
    <form action="{{ url_for('insert_clothes') }}" method="POST">
        <fieldset>
            <h2>Add A Piece To Your Wardrobe</h2>
            <div class="form-group" name="username">
                <label>Username</label>
                <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group" name="title">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Title">
            </div>
            <div class="form-group" name="type">
                <label>Type</label>
                <select class="form-control">
        <option class="disabled selected">Choose type</option>
        <option>T-shirt</option>
        <option>Shirt</option>
        <option>Sweather</option>
        <option>Jacket</option>
        <option>Cardigan</option>
        <option>Dress</option>
        <option>Skirt</option>
        <option>Pants</option>
        <option>Shorts</option>
        <option>Leggings</option>
        <option>Jumpsuit</option>
        <option>Romper</option>
        <option>Sportswear</option>
        <option>Coat</option>
      </select>
            </div>
            <div class="form-group" name="condition">
                <label>Condition</label>
                <select multiple="" class="form-control">
        <option>New</option>
        <option>Very Good</option>
        <option>Good</option>
        <option>Used</option>
        <option>Acceptable</option>
        <option>Poor</option>
      </select>
            </div>
            <div class="form-group" name="size">
                <label>Size</label>
                <select class="form-control">
        <option class="disabled selected">Choose size</option>
        <option>XS</option>
        <option>S</option>
        <option>M</option>
        <option>L</option>
        <option>XL</option>
        <option>XXL</option>
        <option>XXXL</option>
        <option>Universal</option>
        </select>
            </div>
            <div class="form-group" name="brand">
                <label>Brand</label>
                <textarea class="form-control" rows="1" placeholder="Insert Brand"></textarea>
            </div>
            <div class="form-group" name="composition">
                <label>Composition</label>
                <textarea class="form-control" rows="1" placeholder='Put in composition of your piece'></textarea>
            </div>
            <div class="form-group" name="color">
                <label>Color</label>
                <select class="form-control">
        <option class="disabled selected">Choose color</option>
        <option>Black</option>
        <option>White</option>
        <option>Red</option>
        <option>Bordo</option>
        <option>Orange</option>
        <option>Yellow</option>
        <option>Green</option>
        <option>Blue</option>
        <option>Purple</option>
        <option>Brown</option>
        <option>Grey</option>
        <option>Multicolor</option>
        <option>Other</option>
      </select>
            </div>
            <fieldset class="form-group" name="season">
                <label>Season</label>
                <div class="form-check">
                    <label class="form-check-label">
          <input class="form-check-input" type="checkbox">
          Spring
        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
          <input class="form-check-input" type="checkbox">
          Summer
        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
          <input class="form-check-input" type="checkbox">
          Autumn
        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
          <input class="form-check-input" type="checkbox">
          Winter
        </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
          <input class="form-check-input" type="checkbox">
          N/A
        </label>
                </div>
            </fieldset>
            <div class="form-group" name="description">
                <label>Description</label>
                <textarea class="form-control" rows="4" placeholder='Tell about any defects this piece has...'></textarea>
            </div>
            <div class="form-group" name="picture">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
            </div>
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</div>
{% endblock %}
